<!DOCTYPE html>
<html>
<head>
  <title>Your very own Wallet</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/lib/angular/angular.min.js"></script>
  <script src="/lib/angular/angular-route.min.js"></script>
  <script src="/lib/angular/angular-storage.min.js"></script>
  <script src="/app/js/app.js"></script>
  <script src="/app/js/wallet-ctrl.js"></script>
  <script src="/app/js/menu-bar.js"></script>
  <script src="/app/js/focused-input.js"></script>
</head>
<body ng-app="wallet-app">
<menu-bar></menu-bar>
<div ng-view></div>
</body>
</html>
