<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <h3>Current budget: {{budget | currency:""}}<i class="fa fa-{{selectedCurrency.faSuffix}}" style="margin-left:5px"></i></h3>
        <form name="myForm" novalidate>
            <div style="margin-bottom:20px; min-height:30px"><p ng-show='errorMessage' >{{errorMessage}}</p></div>
            <div style="margin-bottom:20px">
                <input ng-model="amount" type="number"/>
                <button style="margin:0 20px 0 0" ng-click="doAction()">Apply</button>
                <select ng-model="selectedAction" ng-options="action.uiName for action in actions"></select>
                <select ng-model="selectedCurrency" ng-options="curr.name for curr in currencies""></select>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3  col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Date
                </th>
                <th>
                    Type
                </th>
                <th>
                    Budget
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="operation in operations">
                <td>
                    {{ $index + 1 }}
                </td>
                <td>
                    {{ operation.amount | currency:selectedCurrency.symbol }}
                </td>
                <td>
                    {{ operation.date | date:"dd/mm/yyyy - HH:mm:ss"}}
                </td>
                <td>
                    {{ operation.type}}
                </td>
                <td>
                    {{ operation.remainingBudget | currency:selectedCurrency.symbol}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>